<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Trace Tivate
    </title>
    <!-- Specify character encoding for the web pages-->
    <meta charset="utf-8" />
    <!--Set the initial view zooming scale for mobile device to 1-->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!--Reference to Bootstrap CSS,JavaScript/Jquery files-->
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>

</head>
<body>
    <form method="post" action="./Main.aspx" id="form1">
        <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="3oLK4b05j1Uk8CrH7TlAEi4m3Cjgb5aStEfeIrCkABUV02e0xG9is9Y4L7hdADWKAgraH1EPzZthNpFpGkOMB0buLMAhytXADtjvxTp7Mao=" />
        </div>

        <!--bootstrap container,centralize the container between margins-->
        <div class="container" style="margin:auto;">
            <!--1st row-->
            <div class="row">
                <div class="col-sm-12">


                    <nav class="navbar navbar-default">
                        <div>
                            <!--navbar wrapper-->
                            <div class="navbar-header">
                                <!--Navbar to be displayed as a hamburger button when collapsed-->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#staffNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!--The brand(or icon) of the navbar, will always be displayed-->
                                <a class="navbar-brand" href="/"
                                   style="font-size:36px; font-weight:bold; color:#3399FF;">
                                    Trace Tivate
                                </a>
                            </div>
                            <div class="collapse navbar-collapse" id="staffNavbar">
                                <!--links in the navbar,-->
                                <!-- will be displayed as drop down list when collapsed-->
                                <ul class="nav navbar-nav">
                                    <li><a href="/Home/Explore">Explore</a></li>
                                    <li><a href="/Home/Payment">Payment</a></li>
                                    <li><a href="/Home/Account">Account</a></li>
                                    <li><a href="/Home/Promotion">Promotion</a></li>
                                    <li><a href="/Home/Emergency">Emergency</a></li>
                                </ul>

                                @Html.Partial("_LoginPartial")

                            </div>

                        </div>
                    </nav>

                </div>
            </div>
            <img src="~/Content/images/mall-foodcourt-map.png" />
            <div class="aspNetHidden">

                <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="202EA31B" />
                <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="2xX2OI3I6Xi4bkd2m2ZlsVa5f/Ny7f3xzfTrmComNZc2qjtxDNLwIVp/8uxbMfZwqiNChsl98axYWaDxqgZYrJvhfyFdt3Vxu8+CEvyLteHqoAZHk4r9XxyV/Ud2evhc" />
            </div>
    </form>



    <!-- Visual Studio Browser Link -->
    <script type="application/json" id="__browserLink_initializationData">
        {"appName":"Chrome","requestId":"f6359a40b10849f78782e79666994f6e"}
    </script>
    <script type="text/javascript" src="http://localhost:23707/aef6d27c659640a0bb66891e1357a6cc/browserLink" async="async"></script>
    <!-- End Browser Link -->

</body>
</html>
